<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Litcovers", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-black">
    <div class="bg-overlay h-screen" style="--overlay-image: url(https://ik.imagekit.io/soulgenesis/litnet/bg.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1662304728307); --overlay-angle: 90deg; --overlay-colors: rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.1);">
      <div class="text-slate-200 max-w-screen-lg mx-auto p-4">
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
