<div class="flex justify-between items-center">
  <a href="/" class="text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Logo TBD</a>
  <a href="#" class="text-gray-200 hover:text-pink-600">Кабинет Автора</a>
</div>

