<h1 class="mt-5">Подтверждение аккаунта</h1>

<.form let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>
  <div>
    <%= submit "Подтвердить", class: "btn mt-3" %>
  </div>
</.form>
