<div>
  <h1><%= @title %></h1>

  <div>id: <%= @request.id %></div>
  <div>title: <%= @request.title %></div>
  <div>description: <%= @request.description %></div>
  <div>completed: <%= @request.completed %></div>
</div>
